---
layout: null
---
<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<!-- hack iOS CSS :active style -->
<body ontouchstart="">

    {% include nav.html %}

    <section id="main_content">
        <p>▼ 网页访问量 ▼</p>

<!-- hitwebcounter Code START -->
<p><a href="http://www.hitwebcounter.com" target="blank">
<img title="website counter" alt="website counter" src="http://hitwebcounter.com/counter/counter.php?page=7147697&amp;style=0036&amp;nbdigits=7&amp;type=page&amp;initCount=0" border="0">
</a>                                        <br>
                                        <!-- hitwebcounter.com --><a title="" style="font-family: ;                                          font-size: px; color: #; text-decoration:  ;" href="http://www.hitwebcounter.com" target="_blank">
                                        </a></p>

<hr>

<h2 id="-i---道歉">-I - 道歉</h2>

<p>（以下文段中<em>您</em>指某被某些学生的过激言论轰炸的公众号自媒体）</p>

<p>我们bdfz初二的学生作为学长代表初一的学弟向您道歉。也许我们代表不了他们，但也敬请收下我们的歉意。我们不知道学弟们可以骂出如此难听的话语，但是我们希望您能想一想原因，为什么他们会以这么难听的言语攻击您。这件事情这样下去，对bdfz肯定是有害的，而您应该也会受到一些来自极度不理智的学生的语言暴力吧。大部分同学应该已经意识到自己的过错了，所以请不要用<em>誓死捍卫烤鸭店荣誉的鸭子</em>来比喻我们。</p>

<hr>

<h2 id="o---对反应偏激者的话">O - 对反应偏激者的话</h2>

<p>如果你认为某些公众号自媒体的做法不对的话，那么请参考在pyq中传播的以下语段。</p>
<blockquote>
  <p>在此对所有对于■■■■感到愤怒的人说：
冷静下来。
冷静下来。
冷静下来。</p>

  <p>你们每一句有脏字的评论都会被它作为兴风作浪的新证据，抹上一把灰的新材料。
可能你们不觉得有什么，但是它可以由此指桑骂槐，骂你的老师，骂你的学校，或者骂你的父母。
这样的结果我觉得每一个人都是不想看到的。</p>

  <p>正能量的评论被它全部隐瞒，那是因为它自己要继续骂下去，赚热度，再让他有更厚实的资本去骂。
可能最后北大附中不是被■■■■搞倒的，而是先被在校学生搞躺下的。</p>

  <p>我们要做的无非三件事：
  一、找到一个关注度足够高的平台发表冷静分析■■■■文章逻辑以及文字游戏中的漏洞，使其自断言论基础。
      他所有的文章全部都是基于第一篇文章的结论以及“我们”的留言炒热度炒出来的。
      只要第一篇倒了，剩下的事就好办多了，这相当于砍掉它一条臂膀，对它伤害十分之大。
  二、用不带脏字的骂人结合冷静分析攻占它的留言区，使其失去用留言作为攻击手段的能力，砍掉它另一条胳膊。
  三、利用自己所能到达的人际关系圈，冷静解释事情原委经过以及已经结束的结果。
      我不希望再看到任何人自己给学校挖坑。</p>

  <p>意志不坚定的不要看，否则可能因其文字技巧太过高超而被迷惑地迷失本心。</p>

  <p>P.S. 他是个文笔很好的作者，但不适合做新闻编辑。</p>
</blockquote>

<hr>

<h2 id="i---本文目的">I - 本文目的</h2>

<p>感谢<em>几语自知</em>前辈提供以下文段 有兴趣可以搜索前辈的公众号</p>

<blockquote>
  <p>我的目的是为了让那些一直以来支持北大附中的同学，我的朋友们能够心里好过一点，我希望能够安慰他们。
北大附中还是那个北大附中，她没有像这个作者说的那样不堪。</p>

  <p>————几语自知前辈</p>
</blockquote>

<p>本文主要目的不是为了抨击某些公众号自媒体的可能不当行为，而是像前辈一样告知bdfz的学弟们不要发表过激不当言论，且合理看待事情的起因经过与结果。也许某些公众号自媒体的做法确实欠缺对学校学生的负面影响的考虑，但是也敬请各位冷静下来。</p>

      </section>

    {% include footer.html %}


<!-- Image to hack wechat -->
<img src="/img/apple-touch-icon.png" width="0" height="0" />
<!-- Migrate from head to bottom, no longer block render and still work -->

</body>

</html>
